:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFFCA8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-body-bg: #FFFCA8;
  background-color: hsl(58, 100%, 83%);
}

a {
  font-weight: 500;
  color: #00a66f;
  text-decoration: inherit;
}
a:hover {
  color: #00a66f;
}

body {
  padding-top: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFCA8 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FFFCA8;
  }
  a:hover {
    color: #00a66f;
  }
  button {
    background-color: #f9f9f9;
  }
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
  background: #00a66f !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #00a66f;
  box-shadow: 0 0 0 0.25rem rgba(87, 211, 100, 0.25) !important;
  outline: 0;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: left;
  font-size: 15px;
  padding-top: 10px;
  color: #213547;
  margin: 0;
}
.forgot-password a {
  color: #00a66f;
  text-decoration: underline;
}

.btn-secondary {
  background-color: #00a66f !important;
  color: #213547;
}

.btn-link {
  color: #00a66f !important;
  text-decoration: underline;
  
}

.form-control {
  border-color: #00a66f;
}


.Main-Title {
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
  width: 100%;
  display: block;
}

.Purchased-Title {
  padding-top: 20px;
  padding-left: 120px;
  width: 100vw !important;
  display: block;
  text-align: left !important;
  align-self: flex-start;
}